<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_1_ravture_bestie_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_1_Ravture_Bestie_App">
        <activity
            android:name=".myui.MusicActivity"
            android:exported="false"
            android:label="@string/title_activity_music"
            android:theme="@style/Theme.Project_1_Ravture_Bestie_App" />
        <activity
            android:name=".myui.MusicList"
            android:exported="false"
            android:label="@string/title_activity_music_list"
            android:theme="@style/Theme.Project_1_Ravture_Bestie_App" />
        <activity
            android:name=".myui.RestaurantList"
            android:exported="false"
            android:label="@string/title_activity_restaurant_list"
            android:theme="@style/Theme.Project_1_Ravture_Bestie_App" />
        <activity
            android:name=".myui.ui.theme.RestaurantActivity"
            android:exported="false"
            android:label="@string/title_activity_restaurant"
            android:theme="@style/Theme.Project_1_Ravture_Bestie_App" />
        <activity
            android:name=".myui.JohnMain"
            android:exported="false"
            android:label="@string/title_activity_john_main"
            android:theme="@style/Theme.Project_1_Ravture_Bestie_App" />
        <activity
            android:name=".myui.AfterLoginMainMenu"
            android:exported="false"
            android:label="@string/title_activity_after_login_main_menu"
            android:theme="@style/Theme.Project_1_Ravture_Bestie_App" />
        <activity
            android:name=".afterloginui.AfterLoginPage"
            android:exported="false"
            android:label="@string/title_activity_after_login_page"
            android:theme="@style/Theme.Project_1_Ravture_Bestie_App" />
        <activity
            android:name=".myui.ContentScreens"
            android:exported="false"
            android:label="@string/title_activity_content_screens"
            android:theme="@style/Theme.Project_1_Ravture_Bestie_App" />
        <activity
            android:name=".myui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Project_1_Ravture_Bestie_App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>